<template>
  <div>
    <el-input
      v-model="input"
      placeholder="请输入内容"
      @input="ipt()"
    ></el-input>
    <el-button type="primary" @click="btn()">搜索</el-button>
    <el-table :data="tableData" border>
      <el-table-column prop="date" label="日期" width="180"> </el-table-column>
      <el-table-column prop="name" label="姓名" width="180"> </el-table-column>
      <el-table-column prop="address" label="地址"> </el-table-column>
    </el-table>
  </div>
</template>

<script>
import mockjs from 'mockjs'
export default {
  name: 'nav1',
  data () {
    return {
      tableData: [],
      input: '',
      tableData1: []
    }
  },
  mounted: function () {
    var data = mockjs.mock({
      'list|10-30': [
        {
          'id|+1': 1,
          name: '@cname()',
          address: '@province' + '@city' + '@county',
          date: '@date("yyyy-MM-dd")'
        }
      ]
    })
    this.tableData = this.tableData1 = data.list
  },
  methods: {
    btn () {
      var lists = []
      var _this = this
      this.tableData.map(function (item) {
        if (JSON.stringify(item).indexOf(_this.input) !== -1) {
          lists.push(item)
        }
      })
      this.tableData = lists
    },
    ipt () {
      if (this.input === '') {
        this.tableData = this.tableData1
      }
    }
  }
}
</script>
<style  scoped>
.el-input {
  width: 15%;
}
.el-table {
  width: 100%;
  margin-top: 10px;
}
</style>
