<template>
    <div>
        <img src="../../static/image/404.png">
    </div>
</template>

<script>
export default {

}
</script>

<style scoped>
    img{
        width: 50%;
    }
    div{
        text-align: center
    }
</style>
