<template>
  <el-container>
    <Nav></Nav>
    <el-container class="contain">
      <el-header height="40px">
        <Breadcrumb></Breadcrumb>
      </el-header>
      <el-main>
        <router-view></router-view>
      </el-main>
    </el-container>
  </el-container>
</template>
<script>
import Nav from '@/components/Nav'
import Breadcrumb from '@/components/Breadcrumb'
export default {
  name: 'Home',
  components: {
    Nav,
    Breadcrumb
  }
}
</script>
<style>
.contain {
  overflow: auto;
  height: 100vh;
}
::-webkit-scrollbar-track {
  background-color: #eee;
}
::-webkit-scrollbar {
  width: 5px;
  background-color: #ccc;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
}
.el-header {
  box-shadow: 0px 0px 9px #ccc;
  margin-bottom: 9px;
}
</style>
